h1 {
    text-align: center;
    margin-bottom: 100px;
    color: red;
    font-size: 50px;
}
input {
    padding: 10px 50px;
    font-size: 30px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
main {
    text-align: center;
}
p {
    font-size: 20px;
}